# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Playgrounds
Timeline.xctimeline
playground.xcworkspace

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout
*.xcuserstate

## Bits used by xcodebuild to package up a project
##
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
DerivedData/
*.hmap
*.ipa

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
# Pods/

# Carthage
# Carthage/Checkouts
Carthage/Build

# Accio dependency manager
Dependencies/
.accio/

# fastlane
# fastlane/screenshots
# fastlane/test_output
# fastlane/report.xml
# fastlane/Preview.html

# Polyphonia
.osx
.idea/

# Code Injection
iOSInjectionProject/

# OS X
.DS_Store

# Agent
.agent/
.cursor/
.mcp.json
.serena/

# Temporary
.tmp/

# Other
*.mobileprovision
*.dSYM.zip
*.dSYM
