<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1023710839199-2qrb93tbdvrnkkbqkprpg8rpqqq229tt</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1023710839199-2qrb93tbdvrnkkbqkprpg8rpqqq229tt.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>location</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
    <string>Body Forge использует данные о тренировках для отслеживания калорий и пульса.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>Body Forge сохраняет выполненные тренировки в Apple Health для заполнения колец активности.</string>
</dict>
</plist>
