<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleName</key>
	<string>Body Forge</string>
	<key>CFBundleDisplayName</key>
	<string>Body Forge</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1023710839199-2qrb93tbdvrnkkbqkprpg8rpqqq229tt</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
